@using Etch.OrchardCore.Gallery.ViewModels;
@model GalleryPartEditViewModel

<script asp-src="~/OrchardCore.Media/Scripts/media.js" asp-name="media" at="Foot" depends-on="admin, vuejs, sortable, vuedraggable, jQuery-ui"></script>
<style asp-src="~/OrchardCore.Media/Styles/media.min.css" debug-src="~/OrchardCore.Media/Styles/media.css"></style>
<script asp-src="~/Etch.OrchardCore.Gallery/js/admin.js" asp-name="gallery" depends-on="jquery" at="Foot"></script>
<style asp-src="~/Etch.OrchardCore.Gallery/css/styles.admin.css"></style>

<script at="Foot">
    initializeMediaApplication(false, '@Url.Action("MediaApplication", "Admin", new { area = "OrchardCore.Media" })', '@Context.Request.PathBase.ToString()');
    initializeGalleryEditor(document.getElementById('@Html.IdFor(m => m)'));
</script>

<fieldset class="form-group gallery" id="@Html.IdFor(m => m)" data-for="@Html.IdFor(m => m.MediaItems)">
    <div class="btn-group form-group">
        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Add Media
        </button>

        <div class="dropdown-menu">
            <button type="button" class="dropdown-item btn-sm" v-for="source in sources" v-on:click="action(source)">{{source.label}}</button>
        </div>
    </div>

    <input type="hidden" asp-for="MediaItems" class="form-control content-preview-text" :value="value" data-init="@Model.MediaItems" />

    <draggable tag="ol" :list="items" id="image-list" class="row media-items-grid" v-if="hasItems" v-cloak>
        <li v-for="(item, index) in items" class="media-container-main-list-item card" style="width: 222px;">
            <div class="thumb-container" style="height: 220px;">
                <img :src=item.thumb style="max-height: 220px; max-width: 220px;">
            </div>
            <div class="media-container-main-item-title card-body">
                <button type="button" v-on:click="remove(index)" class="btn btn-light btn-sm float-right inline-media-button">
                    <svg class="svg-inline--fa fa-trash-alt fa-w-14" aria-hidden="true" data-prefix="fa" data-icon="trash-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M0 84V56c0-13.3 10.7-24 24-24h112l9.4-18.7c4-8.2 12.3-13.3 21.4-13.3h114.3c9.1 0 17.4 5.1 21.5 13.3L312 32h112c13.3 0 24 10.7 24 24v28c0 6.6-5.4 12-12 12H12C5.4 96 0 90.6 0 84zm416 56v324c0 26.5-21.5 48-48 48H80c-26.5 0-48-21.5-48-48V140c0-6.6 5.4-12 12-12h360c6.6 0 12 5.4 12 12zm-272 68c0-8.8-7.2-16-16-16s-16 7.2-16 16v224c0 8.8 7.2 16 16 16s16-7.2 16-16V208zm96 0c0-8.8-7.2-16-16-16s-16 7.2-16 16v224c0 8.8 7.2 16 16 16s16-7.2 16-16V208zm96 0c0-8.8-7.2-16-16-16s-16 7.2-16 16v224c0 8.8 7.2 16 16 16s16-7.2 16-16V208z"></path></svg>
                </button>
                <span title="Images/calendar.png" class="media-filename card-text small">{{item.typeName}}</span>
            </div>
        </li>
    </draggable>

    <p v-if="!hasItems">Currently no media in gallery.</p>

    <div class="modal @Html.IdFor(m => m)-ModalBody">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body"></div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary js-modal-ok" data-accept="modal">@T["OK"]</button>
                    <button type="button" class="btn btn-secondary js-modal-cancel" data-dismiss="modal">@T["Cancel"]</button>
                </div>
            </div>
        </div>
    </div>
</fieldset>